<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">
    #wrap {
      width: 500px;
      height: 400px;
      border: 1px solid black;
      margin: 0 auto;
      margin-top: 260px;
    }
    #username{
      width: 340px;
      height: 50px;
      margin-left: 80px;
      margin-top: 100px;
      background-color: whitesmoke;
    }
    #password{
      width: 340px;
      height: 50px;
      margin-left: 80px;
      margin-top: 20px;
      background-color: whitesmoke;
    }
    #btn{

      width: 340px;
      height: 50px;
      margin-left: 80px;
      margin-top: 40px;
      background-color: #00B28E;
      color: white;
      font-size: 18px;
      /*border: none;*/
    }

    #a1 {
      color: #00B28E;
      display: block;
      margin-top: 20px;
      margin-left: 340px;
    }
  </style>
</head>
<body>
<div id="wrap">
  <form action="loginSuccess">
    <input type="text" placeholder="请输入已验证手机/邮箱" id="username">
    <input type="text" placeholder="请输入密码" id="password">
    <a href="#" id="a1">忘记密码</a>
    <button id="btn">login</button>
  </form>

</div>
</body>
</html>
