<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/moment.css">
  <script src="/javascripts/jquery-3.2.1.js"></script>
<style>

</style>

</head>
<body>
<div id="wrap">
  <div id="head">

    <div id="logo">
      <img src="images/head-logo.png" height="37" width="80"/>
    </div>
    <div>
      <a href="#" class="navs" id="fa">首页</a>
      <a href="#" class="navs">阅读</a>
      <a href="#" class="navs">电台</a>
      <a href="#" class="navs">碎片</a>
      <a href="#" class="navs">客户端</a>
      <div class="footdiv" id="fa1"></div>
      <div class="footdiv" id="fa2"></div>
      <div class="footdiv" id="fa3"></div>
      <div class="footdiv" id="fa4"></div>
      <div class="footdiv" id="fa5"></div>
    </div>

    <div id="bibi">
      <img src="images/bibi.jpg" height="78" width="78"/>
    </div>
    <div id="user">
      <a href="#">登录</a>/<a href="#">注册</a>
    </div>


  </div>
  <div id="title">
    <div>
      <img src="images/10ec7bfffb06c90f7d36421df5afaebf20170321.jpg" height="480" width="480"/>

    </div>
    <div><img src="images/4b9cabfe7bdaef3757ce818f1617776020170509.jpg" height="240" width="240"/></div>
    <div><img src="images/b7ba659ac441c3996e12be395ba61bcb20170501.jpg" height="240" width="240"/></div>
    <div><img src="images/d261c1e53975eca13bb0f6ac83f62a4a20170225.jpg" height="240" width="240"/></div>
    <div><img src="images/fdb9e3529e71d35abc1b574005b1e35a20170508.jpg" height="240" width="240"/></div>
    <div id="imgh1">
      ____

      <br>
      这样锻炼,你才会掌握说话...
      <h6 style="color: white">lalla </h6>
    </div>
    <div id="imgh2">
      ____

      <br>
      有社交恐惧症的你该怎么办
      <h6 style="color: white">lalla </h6>
    </div>
    <div id="imgh3">
      ____

      <br>
      怎样找到自己想做的事
      <h6 style="color: white">lalla </h6>
    </div>
    <div id="imgh4">
      ____

      <br>
      我觉着不行
      <h6 style="color: white">lalla </h6>
    </div>
    <div id="imgh5">
      ____
      <br>

      我觉着还OK啊
      <h6 style="color: white">lalla </h6>
    </div>
  </div>
  <div id="cut1">
    <img src="images/方块.png" height="20" width="20"/>
    阅读 丨 Read
  </div>
  <div id="divText">
    <div class="texts">
      <div class="neirong">
        <a href="#">飞鸿踏雪泥</a>
        <br>
        <a href="#" id="a2">By / 失足少年七千</a>
        <p>___</p>
        <br>
        <p class="p1"> 1. “一个人挥刀的速度，不在于他有多恨那个人。” “有的人在挥刀之前，会犹豫不决。” “有的人发觉自己有些动摇时，反而更快地作出决定 <a class="da"
                                                                                              href="#">VIEW ALL
            <img
                    src="images/viewall.png" height="12" width="6"/></a>
        </p>
        <br>
        <br>
        <p class="p2">
          2.3k阅读 丨 评论8 丨 喜欢:108
        </p>
      </div>

      <div class="textimg">

        <img src="images/44F7334D-4A4A-4C22-B6E2-330105497642.png" height="218" width="300"/>
      </div>
    </div>
    <div class="texts">
      <div class="neirong">
        <a href="#">无痛人流</a>
        <br>
        <a href="#" id="a3">By / 读行者-流冬</a>
        <p>___</p>
        <br>
        <p class="p1"> 此为“日记小说”系列。 A 小时候我们是好兄弟，长大后关系就疏远了。他加入了城里的黑社会，后来也不怎么回家，很少与我说话，没有再叫<a class="da" href="#">VIEW
            ALL <img
                    src="images/viewall.png" height="12" width="6"/></a>
        </p>
        <br>
        <br>
        <p class="p2">
          1.5k阅读 丨 评论10 丨 喜欢:141
        </p>
      </div>
      <div class="textimg">
        <img src="images/A0C51EBF-37AB-48D2-8086-08C0E26C1D8D.png" height="218" width="299"/>
      </div>
    </div>
    <div class="texts">

      <div class="neirong">
        <a href="#">戏剧+性≈戏剧性</a>
        <br>
        <a href="#" id="a4">By / 阿凡达</a>
        <p>___</p>
        <br>
        <p class="p1"> 此为“日记小说”系列。 A 小时候我们是好兄弟，长大后关系就疏远了。他加入了城里的黑社会，后来也不怎么回家，很少与我说话，没有再叫<a class="da" href="#">VIEW
            ALL <img
                    src="images/viewall.png" height="12" width="6"/></a>
        </p>
        <br>
        <br>
        <p class="p2">
          1.3k阅读 丨 评论15 丨 喜欢:77
        </p>
      </div>

      <div class="textimg">

        <img src="images/DFAD579A-5B04-40D1-8541-0BFF3B02FD5A.png" height="215" width="300"/></div>
    </div>

  </div>
  <div id="cut2">
    <img src="images/方块.png" height="20" width="20"/>
    TING
  </div>
  <div id="lisn">
    <div class="song">
      <div class="songImg">
        <img id="ch1" src="images/57f193998c938ee4af38188f36a82c63.PNG@640w_85Q.jpg" height="300" width="300"/>
        <div class="mengban">
          <img src="images/播放%20(1).png" height="50" width="50"/>
        </div>

      </div>
      <div class="songT">
        <a href="#">和你在一起</a>
        <br>
        <a href="#" id="i2">主播 / TingK</a>
        <br>
        <br>
        <p class="p2" style="padding-left: 10px">
          2.3k播放 丨 评论8 丨 喜欢:108
        </p>
      </div>

    </div>
    <div class="song" id="hulala">
      <div class="songImg">
        <img id="ch2" src="images/73ca34ab4e489ad208cd12607d5ca4b4.PNG@640w_85Q.jpg" height="300" width="300"/>
        <div class="mengban1">
          <img src="images/播放%20(1).png" height="50" width="50"/>
        </div>
      </div>

      <div class="songT">
        <a href="#">是我太认真</a>
        <br>
        <a href="#" id="i3">主播 / 贾先达</a>
        <br>
        <br>
        <p class="p2" style="padding-left: 10px">
          3.3k播放 丨 评论77 丨 喜欢:64
        </p>
      </div>


    </div>
    <div class="song" id="hula">
      <div class="songImg">
        <img id="ch3" src="images/b8a32b3ea57071e991cba55aa25ce834.PNG@640w_85Q.jpg" height="300" width="300"/>
        <div class="mengban2">
          <img src="images/播放%20(1).png" height="50" width="50"/>
        </div>
      </div>

      <div class="songT">
        <a href="#">把悲伤留给自己</a>
        <br>
        <a href="#" id="i4">主播 / Jony J</a>
        <br>
        <br>
        <p class="p2" style="padding-left: 10px">
          5.5k播放 丨 评论41 丨 喜欢:188
        </p>
      </div>


    </div>
  </div>
  <div id="cut3">
    <img src="images/方块.png" height="20" width="20"/>
    人气片客 丨Hot Pianker
  </div>
  <div id="pinker">
    <div>
      <div class="touxiang">
        <img src="images/4cca2c8e44c978c11697d580db691bb220170209.jpeg" height="80" width="80"/>
      </div>
      <div class="Tt">
        <a href="#">王睿 Ray</a>

        <p class="px">___</p>

        <p class="px">流行歌手王睿</p>
      </div>
      <div class="musicMan">
        <img src="images/user_musician.png" height="20" width="60"/>
      </div>
    </div>
    <div>

      <div class="touxiang">
        <img src="images/a8688a423d9d55a9db48d0d5298a594d20170601.png" height="80" width="80"/>
      </div>
      <div class="Tt">
        <a href="#">阿见</a>

        <p class="px">___</p>

        <p class="px">独立音乐人,<br>电台主持人</p>
      </div>
      <div class="musicMan">
        <img src="images/user_musician.png" height="20" width="60"/>
      </div>

    </div>


    <div>
      <div class="touxiang">
        <img src="images/8b29dc859b74cb196f7b071ab94470d820170126.jpg" height="80" width="80"/>
      </div>
      <div class="Tt">
        <a href="#">贤菌</a>

        <p class="px">___</p>

        <p class="px">唱片翻刻达人</p>
      </div>
      <div class="musicMan">
        <img src="images/user_musician.png" height="20" width="60"/>
      </div>
    </div>


    <div>
      <div class="touxiang">
        <img src="images/9a7018ced880d6f925b02b91934c9f1520170726.jpeg" height="80" width="80"/>
      </div>

      <div class="Tt">
        <a href="#">陆深兽</a>

        <p class="px">___</p>

        <p class="px">靠脸吃饭,臭不要脸</p>
      </div>
      <div class="musicMan">
        <img src="images/user_musician.png" height="20" width="60"/>
      </div>
    </div>
  </div>
  <div id="more">
    <a href="#">
      <div id="moreIn">查看更多精彩内容</div>
    </a>
  </div>
  <div id="footD">
    <img src="images/foot-logo.png" height="50" width="100"/>
    <div id="aArr">
      <a href="#">关于我们</a>
      <a href="#">友情链接</a>
      <a href="#">片刻帮助</a>
      <a href="#">意见反馈</a>
      <a href="#">成长自己</a>
    </div>
    <div id="zia">
      All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1
    </div>
    <div id="tupiana">
      <img src="images/foot-app.png" height="38" width="38"/>
      <img src="images/foot-sina.png" height="38" width="38"/>
      <img src="images/foot-wechat.png" height="38" width="38"/>
      <img src="images/foot-safe.png" height="46" width="158"/>
    </div>
    <div id="downTop">
      <a href="#"><img src="images/back-top.png" height="50" width="50"/></a></div>
  </div>


</div>

</body>
<script>
  $("#user").hover(function () {
    $("#user a").css("color", "white");
    $("#user").css("backgroundColor", "#5CAE6D");
    $("#user").css("color", "white");
    $("#user a").css("backgroundColor", "#5CAE6D");
    $("#user a").css("transition", "1s");
    $("#user").css("transition", "1s");
  }, function () {
    $("#user").css("backgroundColor", "white");
    $("#user a").css("color", "#5CAE6D");
    $("#user").css("color", "#5CAE6D");
    $("#user a").css("backgroundColor", "white");
    $("#user a").css("transition", "1s");
    $("#user").css("transition", "1s");
  });
  $("#title div:eq(0)").hover(function () {
    $("#imgh1").show();
  }, function () {
    $("#imgh1").hide();
  });
  $("#title div:eq(1)").hover(function () {
    $("#imgh2").show();
  }, function () {
    $("#imgh2").hide();
  });
  $("#title div:eq(2)").hover(function () {
    $("#imgh3").show();
  }, function () {
    $("#imgh3").hide();
  });
  $("#title div:eq(3)").hover(function () {
    $("#imgh4").show();
  }, function () {
    $("#imgh4").hide();
  });
  $("#title div:eq(4)").hover(function () {
    $("#imgh5").show();
  }, function () {
    $("#imgh5").hide();
  });
  $(" .song .songImg:eq(0)").hover(function () {
    $(".mengban ").show();
    $(".mengban img").show();
    $("#ch1").css("transform", "scale(1.2)").transition("delay", "500");
  }, function () {
    $(".mengban").hide();
    $(".mengban img").hide();
    $("#ch1").css("transform", "scale(1)").delay(5000);
  });
  $(" .song .songImg:eq(1)").hover(function () {
    $(".mengban1 ").show();
    $(".mengban1 img").show();
    $("#ch2").css("transform", "scale(1.2)").transition("all", ".5s")
  }, function () {
    $(".mengban1").hide();
    $(".mengban1 img").hide();
    $("#ch2").css("transform", "scale(1)").transition("all", ".5s")
  });
  $(".song .songImg:eq(2)").hover(function () {
    $(".mengban2 ").show();
    $(".mengban2 img").show();
    $("#ch3").css("transform", "scale(1.2)").transition("all", ".5s")
  }, function () {
    $(".mengban2").hide();
    $(".mengban2 img").hide();
    $("#ch3").css("transform", "scale(1)").transition("all", ".5s")
  });

  $("#more a").hover(function () {
    $("#moreIn").css("backgroundColor", "#5CAE6D")
  }, function () {
    $("#moreIn").css("backgroundColor", "#78BC85")

  });
  $(document).ready(function () {
    var p = 0, t = 0;

    $(window).scroll(function (e) {
      p = $(this).scrollTop();
      if (t <= p && p > 100) {//下滚
        $("#head").slideUp();
      }

      else {//上滚
        $("#head").slideDown();
      }

      setTimeout(function () {
        t = p;
      }, 0);
    });
  });

  //   if ( $("#downTop").scrollTop() > 600)
  //   {
  //       $("#downTop").show();
  //   }
  //
  //
  //    $(document).ready(function(){
  //        var w=0;
  //
  //        $(window).scroll(function(e){
  //            w = $("#downTop").scrollTop();
  //            if( w >600){
  //
  //            }
  //
  //            else if ( w < 600)
  //            {
  //                $("#downTop").hide();
  //            }
  //
  //
  //        });
  //    });


</script>
</html>